
body{ background-color: #EDEDED ; }
/*
div{ 
    background-color: #DBD0C0;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
}

*/

.table1{background-color: #DBD0C0;}

.pic1{
    margin: 10px 0 0 5px;
}



.line0 { 
    background-color: #DBD0C0;
    font-family: sans-serif, serif;
    font-size: medium;
    font-style: normal;
    line-height: 2rem;
    margin-top: -154px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
       }
.line1 { 
    background-color: #DBD0C0;
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
       }

.line2 {
    background-color:#DBD0C0;
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

       }

.line3 {
    background-color: #DBD0C0;
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
       }
